.container {
    width: 15rem;
    /*border: 1px solid black;*/
    /*height: 37.4rem;*/
    /*background-color: red;*/
}

.topTab {
  border: 1px solid black;
  height:2rem;
  background-color: #5d5f64;
  color: #f0f5f6;
}

.topTab:hover {
    background-color: #84aa30;
    color: #5d5f64;
  }
.tabContent {
  color:#5d5f64;
}

.topTabCounter {
    width: 30px;
    float: right;
    margin-right: 10px;
    background-color: #404247;
    border-radius: 7px;
    margin-top: 5px;
    text-align: center;
    color: #f0f5f6;
}

.counter {
    width: 2rem;
    float: right;
    border-radius: 7px;
    /* background-color: pink; */
    border: 1px solid black;
    text-align: center;
    margin-right: 9px;
}
.mail {
  display: block;
}
/*i {
  height: 10px;
  width: 5rem;
  padding-left: 5px;
  padding-top: 2px;
}*/
/*.fa-inverse {
    color: #fff;
    width: 25px;
}*/


li {
    /* width: 99.4%; */
    height: 2rem;
    border: 1px solid black;
    padding-left: 5px;
    padding-top: 8px;
}

ol {
    height: auto;
    margin: 0;
    box-sizing: border-box;
    background-color: #e5e5e5;
    padding-left: 26px;
    }

.hidden {
    height: 0;
    overflow: hidden;
}

.content {
  background-color: #e5e5e5;
}
